[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
ipython = "*"

[requires]
python_version = "3.12.3"
